/*
 * 	Cable Slider CSS File
 *	Version 0.1.0
 */

.cable-slider-container, .cable-slider-thumbs-container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    position:relative;
    display:block;
    visibility:visible;
    width:100%;
    height:100%;
    overflow:hidden;
}

.cable-slider-wrapper, .cable-slider-thumbs-wrapper {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    position:relative;
    display:block;
    visibility:visible;
    min-width:100%;
    min-height:100%;
    overflow:hidden;
}

.cable-slider-slide, .cable-slider-thumb {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    position:relative;
    left:0;
    top:0;
    display:block;
    visibility:visible;
}

.cable-slider-thumb {
    cursor:pointer;
}

.cable-slider-sentinel img, .cable-slider-slide img, .cable-slider-thumb img {
    display:block;
    max-width:100%;
    height:auto;
}